<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
  <h1>Welcome to the Recipe App</h1>
  <p><a href="../views/recipes.ejs">View Recipes</a></p>
  <p><a href="../views/addRecipe.ejs">Add a New Recipe</a></p>
</body>
</html>